/* Body */
body {
  font-family: arial,sans-serif;
  font-size: 14px;
  color: #222;
}

/* Header */
header {
  display: grid;
  grid-template-columns: 146px 640px auto 70px 142px;
  grid-template-rows: 65px 57px;
  grid-template-areas:
    "logo search auto apps signin"
    ". nav . . .";
  border-bottom: 1px solid #ebebeb;
}

/* Logo */
.logo-area {
  grid-area: logo;
  place-self: center;
}
.logo {
  margin: 26px 0 0 -15px;
  width: 92px;
  height: 30px;
}

/* Search */
#search-area {
  grid-area: search;
}
.search-container {
  display: flex;
  flex-direction: row-reverse;
}
.search-bar {
  margin-top: 20px;
  padding-left: 20px;
  width: 640px;
  height: 46px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  color: rgba(0,0,0,.87);
  outline: none;
  font-size: 16px;
}
.search-bar:hover {
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
  border-color: rgba(223,225,229,0);
}
.search-btn {
  position: absolute;
  margin: 31px 17px 0 -17px;
  width: 24px;
  fill: currentColor;
  color: #4285f4;
  outline: none;
}
.search-btn:hover + .search-bar {
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
  border-color: rgba(223,225,229,0);
}

/* Apps */
#apps-area {
  grid-area: apps;
  place-self: center;
}
.apps {
  margin: 27px -7px 0 34px;
  padding: 8px;
  width: 40px;
  fill: currentColor;
  color: #5f6368;
  border-radius: 50%;
}
.apps:hover {
  background-color: rgba(60,64,67,0.08);
}

/* Sign in */
#signin-area {
  grid-area: signin;
  place-self: center;
  margin-top: 22px;
}
.signin {
  margin-right: 10px;
  padding: 10px 27px;
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  color: #FFF;
  background-color: #1a73e8;
  border-radius: 4px;
}
.signin:hover {
  background-color: #2b7de9;
  box-shadow: 0 1px 2px 0 rgba(6,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15);
}

/* Navigation */
#nav {
  grid-area: nav;
  display: flex;
}
.search-modes {
  display: flex;
  margin-left: 10px;
  font-size: 13px;
  color: #5f6368;
}
.nav-mode {
  display: inline-flex;
  justify-content: center;
  margin-top: 10px;
  padding: 16px 12px 12px 9px;
}
.nav-mode:hover svg,
.nav-mode:hover {
  color: #1A73E8;
}
.selected-mode {
  border-bottom: 3px solid #1A73E8;
  color: #1A73E8;
}
.mode-icon {
  margin: 0 5px 3px 2px;
  height: 16px;
  width: 16px;
  fill: currentColor;
  color: #5f6368;
}
.mode-text {
  margin-top: 1px;
}
.mode-more {
  margin-right: 0px;
  margin-left: -1px;
}
.search-settings {
  margin-left: 57px;
  font-size: 13px;
  color: #5f6368;
}
.nav-tools {
  margin: 21px 0 7px -3px;
  padding: 6px 11px;
  border: 1px solid transparent;
}
.nav-tools:hover {
  background-color: #f8f8f8;
  background-image: linear-gradient(to bottom, #f8f8f8, #f1f1f1);
  border: 1px solid #c6c6c6;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  transition: all 0.0s;
}

/* Main Content */
main {
  display: grid;
  grid-template-columns: 146px 640px auto;
  grid-template-rows: auto;
  grid-template-areas:
    ". main .";
}
#main {
  grid-area: main;
  padding: 0 20px;
}

/* Search Results */
.results-stats {
  line-height: 43px;
  color: #70757a;
}
.search-results-block {
  padding-top: 8px;
}
.search-result {
  margin-bottom: 28px;
}
.search-result a {
  display: inline-block;
  color: #1a0dab;
}
.search-result > a:hover h3 {
  text-decoration: underline;
}
.search-result a:visited {
  color: #609;
}
.cite {
  line-height: 1.3;
  color: #3C4043;
}
.caret {
  font-size: 10px;
  padding-left: 3px;
}
h3 {
  margin-top: 4px;
  font-size: 20px;
  line-height: 1.3;
}
.result-date {
  color: #70757a;
}
.result-text {
  width: 600px;
  margin-top: 3px;
  line-height: 1.57;
  color: #3C4043;
}
b {
  color: #52565A;
}

/* Videos */
.videos-heading {
  margin-left: 21px;
  padding-bottom: 12px;
  font-size: 20px;
  line-height: 1.3;
  color: #222;
}
.videos {
  margin: 0 -20px 40px -21px;
}
.video-box {
  display: inline-block;
  margin-left: 5px;
  width: 204px;
  height: 300px;
  border: 1px solid #dfe1e5;
  border-radius: 8px;
}
.video-link {
  display: block;
}
.video-link:hover {
  text-decoration: underline;
  text-decoration-color: #1a0dab;
}
.video-link:visited:hover {
  text-decoration-color: #609;
}
.video-link:visited > .video-name {
  color: #609;
}
.video-name {
  padding: 13px 16px 0 16px;
  height: 6.875rem;
  line-height: 1.375;
  font-size: 16px;
  color: #1a0dab;
}
.video-channel {
  padding: 19px 0 0 16px;
  color: #808080;
}
.video-source {
  padding: 7px 0 0 16px;
  font-size: 12px;
}
.video-date {
  color: #808080;
}

/* Questions Box */
.questions-box {
  margin: 0 -20px 48px -20px;
  border: 1px solid #dfe1e5;
  border-radius: 8px;
}
.questions-box-title {
  font-size: 20px;
  padding: 9px 16px;
  line-height: 1.3;
}
.question {
  padding: 9px 16px;
  font-size: 16px;
  line-height: 1.58;
  border-top: 1px solid #e5e5e5;
}
.question-arrow {
  float: right;
  width: 24px;
  fill: currentColor;
  color: #70757A;
}
.question-feedback,
.related-search-feedback {
  padding: 6px 15px 0;
  float: right;
  font-size: 12px;
  font-style: italic;
  color: #70757a;
}
.question-feedback:hover,
.related-search-feedback:hover {
  text-decoration: underline;
}

/* Related Search */
.related-search-box {
  margin: 28px -20px 0 -20px;
  padding: 16px 0;
  border: 1px solid #dfe1e5;
  border-radius: 8px;
}
.item a:visited > .item-name {
  color: #609;
}
.related-search {
  margin: 0 0 3px 16px;
  color: #70757a;
}
.related-search-title {
  margin: 0 16px;
  color: #222;
  line-height: 1.3;
  font-size: 20px;
}
.more-related-items {
  float: right;
  margin-top: 4px;
  font-size: 14px;
  color: #70757a;
}
.more-related-items:hover {
  text-decoration: underline;
}
.items-links {
  display: flex;
  padding-bottom: 4px;
  padding-top: 14px;
}
.item {
  width: 72px;
  margin-left: 17px;
}
.item-name {
  margin-top: 3px;
  color: #1a0dab;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item a {
  display: block;
}
.item a:hover {
  text-decoration: underline;
  text-decoration-color: #1a0dab;
}
.item a:visited:hover {
  text-decoration-color: #609;
}
.related-search-feedback {
  padding: 6px 0;
}

/* Related Searches */
.related-searches-heading {
  margin-top: 27px;
  padding-bottom: 20px;
  color: #222;
}
.related-searches-block {
  display: inline-flex;
}
.related-searches-card {
  display: flex;
  flex-direction: column;
}
.related-searches-card a {
  padding: 3px 32px 7px 0;
  font-weight: bold;
  color: #1a0dab;
}
.related-searches-card a:visited {
  color: #609;
}
.no-bold {
  font-weight: normal;
}
.related-searches-card a:hover {
  text-decoration: underline;
}

/* Pager */
.pager {
  margin: 30px auto;
  border-collapse: collapse;
}
tr {
  vertical-align: top;
}
.pager-td {
  padding: 0;
  text-align: center;
}
.pager-td a {
  color: #4285f4;
}
.pager-td a:hover {
  text-decoration: underline;
}
.pager-G {
  display: block;
  background: url(../images/google-pager.webp) no-repeat;
  background-position: -24px 0;
  width: 28px;
  height: 40px;
}
.pager-red-o {
  display: block;
  background: url(../images/google-pager.webp) no-repeat;
  background-position: -53px 0;
  width: 20px;
  height: 40px;
}
.pager-yellow-o {
  display: block;
  background: url(../images/google-pager.webp) no-repeat;
  background-position: -74px 0;
  width: 20px;
  height: 40px;
}
.pager-gle {
  display: block;
  background: url(../images/google-pager.webp) no-repeat;
  background-position: -96px 0;
  width: 71px;
  height: 40px;
}
.pager-next {
  margin-left: 53px;
}

/* Footer */
footer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 41.5px 40px;
  grid-template-areas:
    "auto"
    "auto";
  background: #f2f2f2;
  border-top: 1px solid #e4e4e4;
}
.location {
  grid-area: auto;
  line-height: 40px;
  border-bottom: 1px solid #e4e4e4;
}
.space {
  margin-left: 166px;
  font-size: 15px;
  color: rgba(0,0,0,.54);
}
.location-row {
  display: inline-block;
  margin-left: 13px;
  padding-left: 16px;
  border-left: 1px solid #e4e4e4;
  line-height: 25px;
}
.circle {
  border-radius: 100%;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 7px 0 9px 0;
  vertical-align: middle;
  background: #9e9e9e;
}
.moonland {
  color: #333;
  font-weight: bold;
}
.loc,
.footer-loc-link,
.footer-link {
  color: #5f6368;
}
.footer-links {
  margin-left: 143px;
  line-height: 40px;
}
.footer-link {
  padding-left: 23px;
}
.footer-loc-link:hover,
.footer-link:hover {
  color: #333;
}
