/* Body */
body {
  font-family: arial,sans-serif;
  font-size: 16px;
  color: #222;
}
body p {
  font-size: 14px;
}
/* Header */
header {
  display: grid;
  grid-template-columns: 146px 640px auto 70px 142px;
  grid-template-rows: 64px 64px;
  grid-template-areas:
    "logo search auto apps signin"
    ". nav . . .";
}
/* Logo */
#logo-area {
  grid-area: logo;
  place-self: center;
}
.logo {
  margin: 26px 0 0 -15px;
  width: 90px;
}
/* Search */
#search-area {
  grid-area: search;
}
.search-container {
  display: flex;
  flex-direction: row-reverse;
}
.search-bar {
  margin-top: 20px;
  padding-left: 20px;
  width: 640px;
  height: 46px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
}
.search-bar:hover {
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
  border-color: rgba(223,225,229,0);
}
.search-btn {
  position: absolute;
  margin: 31px 17px 0 -17px;
  width: 24px;
  vertical-align: middle;
  fill: currentColor;
  color: #4285f4;
}
.search-btn:hover + .search-bar {
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
  border-color: rgba(223,225,229,0);
}
/* Apps */
#apps-area {
  grid-area: apps;
  place-self: center;
}
.apps {
  margin: 27px -7px 0 0;
  padding: 8px;
  width: 40px;
  fill: currentColor;
  color: #5f6368;
  border-radius: 50%;
}
.apps:hover {
  background-color: rgba(60,64,67,0.08);
}
/* Sign In */
#signin-area {
  grid-area: signin;
  place-self: center;
  margin-top: 22px;
}
.signin {
  margin-right: 46px;
  padding: 9px 25px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #FFF;
  background-color: #1a73e8;
  border-radius: 4px;
}
.signin:hover {
  background-color:#2b7de9;
  box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15);
}
/* Navigation */
.nav {
  grid-area: nav;
}
